body{
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
}
/*Header*/
.navbar-default{
	background-color: #8FBC8F;	
	border-bottom-color: #191970;
	border-radius: 0;
	padding-left: 10px;
}
.navbar-default .navbar-brand {
	color:#191970;
	text-shadow: 1px 1px #000000;
	height: 100px;
	padding: 0px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color:#191970;
	text-shadow: 1px 1px #000000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #191970;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #191970;
 }
.navbar-header button.navbar-toggle {
  clear: both;
  margin: 10px;
}
.navbar-nav{
	text-align: center;
	font-size: 1.6em;
	margin-top:10px;
}
.navbar-default .navbar-nav>li>a{
	color:#191970;
}
.navbar-default .navbar-nav>li>a:hover {
  background: #E7E7E7;
  color:#191970;
}

/*End of Header*/

/* Main Content*/
.content {
	font-size: 12px;
	background-color: #AFEEEE;
	padding: 5px 15px;
	margin: 10px;
	box-shadow: 3px 3px #d3d3d3;
}
.back-to-top{
	float: right;
	color:#191970;
	font-weight: bold;
}

/* Main Content*/

/********** Large devices only **********/
@media (min-width: 1200px) {
.navbar-right:{
	visibility:hidden;
}
.container>.navbar-header {
    margin-left: 20px;
}
	.navbar-default .navbar-brand {
    padding: 10px 15px;
}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .container>.navbar-header {
    margin-left: 20px;
}
.navbar-default .navbar-brand {
    padding: 10px 20px;
}
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-brand {
    height: 100px;
    padding: 10px 30px;
}
.container>.navbar-header{
	margin-left: 5px;
}
}

/********** Extra small devices only **********/
@media (max-width: 767px){
	.navbar-default .navbar-brand {
    height: 50px;
    font-size:18px;
}
.container>.navbar-header{
	margin: 0px 15px;
}
}